/* Variables de color y de redes sociales */
:root {
    --color1: rgba(12, 54, 84, 1);
    --color2: rgba(187, 1, 1, 1);
    --color3: rgba(2, 156, 251, 1);
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --youtube: #fc0202;
    --linkedin: #0077B5;
}

footer {
    background-color: var(--color1);
    color: white;
}

.footer-img {
    display: block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

footer button {
    display: block!important;
    margin: 1.1em auto 0;
    transform: scale(1.1);
}

footer div {
    margin-bottom: .5em;
}

footer a {
    font-size: 1.3rem;
    color: white;
}

.facebook-icon:hover{
    transform: scale(1.5);
    color: #fff;
    border-color: #fff;
    background: var(--facebook);
    padding: 4px 10px 4px 10px;
    border-radius: 5%;
    text-decoration-line: none;
}

.youtube-icon:hover{
    transform: scale(1.5);
    color: #fff;
    border-color: #fff;
    background: var(--youtube);
    padding: 4px 10px 4px 10px;
    border-radius: 5%;
    text-decoration-line: none;
}

.instagram-icon:hover{
    transform: scale(1.5);
    color: #fff;
    border-color: #fff;
    background: var(--instagram);
    padding: 4px 10px 4px 10px;
    border-radius: 5%;
    text-decoration-line: none;
}

/* Cherry */
.cherry{
    margin: 0;
    padding: 0;
    font-size: .9rem;
}

.cherry a {
    font-weight: 700;
    font-size: .9rem;
    color: var(--color3);
}

/* boton de Whatsapp */
/* Ir arriba*/ 
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}
 
/* --------------------------- START - Nosotros --------------------------- */
main {
    background-image: url(https://images.unsplash.com/photo-1564995408557-f12ea1e4ecf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}


.nosotros-messages {
    background-color: rgba(200, 30, 30, .8);
    padding: 1.3em;
    margin-bottom: 5em;
    color: white;
}

.nosotros-messages:last-child {
    margin-bottom: 0;
}

/* --------------------------- END - Nosotros --------------------------- */

/* --------------------------- START - Contactanos --------------------------- */
.contacto-top img {
    width: 100%;
    height: auto;
}

.contacto-map {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/* --------------------------- END - Contactanos --------------------------- */


/* START - Estilos de RICHARD */
/* ------------------------  stylesheet slider  ------------------------*/
/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Carousel dimentions */
  
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 8rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 36rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 36rem;
  
  }
  /*--Scroll BAR--------------------------------------------------------------*/
  body::-webkit-scrollbar{
      width: 7px;
  }
  body::-webkit-scrollbar-thumb{
      border-radius:3.5px;
      background: var(--gray);
  }
  /*--nav BAR--------------------------------------------------------------*/
  .logoLoc{
    position: absolute;z-index: 3000;left: 159px;top:-26px;
  }
  .logoMain{
    position: absolute;z-index: 3000;left: 159px;
  }
