/* Variables de color y de redes sociales */
:root {
    --color1: rgba(12, 54, 84, 1);
    --color2: rgba(187, 1, 1, 1);
    --color3: rgba(2, 156, 251, 1);
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --youtube: #fc0202;
    --linkedin: #0077B5;
}

footer {
    background-color: var(--color1);
    color: white;
}

.footer-img {
    display: block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

footer button {
    display: block!important;
    margin: 1.1em auto 0;
    transform: scale(1.1);
}

footer div {
    margin-bottom: .5em;
}

footer a {
    font-size: 1.3rem;
    color: white;
}

footer a:last-child{
    font-size: 1.1rem;
}

.facebook-icon:hover{
    transform: scale(1.5);
    color: #fff;
    border-color: #fff;
    background: var(--facebook);
    padding: 4px 10px 4px 10px;
    border-radius: 5%;
    text-decoration-line: none;
}

.youtube-icon:hover{
    transform: scale(1.5);
    color: #fff;
    border-color: #fff;
    background: var(--youtube);
    padding: 4px 10px 4px 10px;
    border-radius: 5%;
    text-decoration-line: none;
}

.instagram-icon:hover{
    transform: scale(1.5);
    color: #fff;
    border-color: #fff;
    background: var(--instagram);
    padding: 4px 10px 4px 10px;
    border-radius: 5%;
    text-decoration-line: none;
}

/* Cherry */
.cherry{
    margin: 0;
    padding: 0;
    font-size: .9rem;
}

.cherry a {
    font-weight: 700;
    font-size: .9rem;
    color: var(--color3);
}

/* boton de Whatsapp */
/* Ir arriba*/ 
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}
 
/* --------------------------- START - Responsive index.html --------------------------- */
@media (max-width: 576px) {
    
    footer {
        padding-top: 0!important;
    }

    .footer-logo {
        padding-top: 1rem!important;
    }

    footer form {
        margin-block-end: 0;
    }

    footer a {
        font-size: 1rem;
    }

    footer h3 {
        font-size: 1.3rem;
    }

    .footer-btn {
        transform: scale(.9);
    }

    /* Boton de Whatsapp */
    .float {
        bottom: 25px;
        right: 15px;
    }
}

/* --------------------------- END - Responsive index.html --------------------------- */

/* --------------------------- START - Nosotros --------------------------- */
.main-nosotros {
    background-image: url(https://images.unsplash.com/photo-1564995408557-f12ea1e4ecf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5em;
}

.nosotros-messages {
    background-color: rgba(200, 30, 30, .8);
    padding: 1.3em;
    margin-bottom: 5em;
    color: white;
}

.nosotros-messages:last-child {
    margin-bottom: 0;
}

/* --------------------------- START - Responsive nosotros.html --------------------------- */
@media (max-width: 676px) {
    .main-nosotros {
        padding: 1em .5em;
    }
    
    .main-nosotros h1, .main-nosotros h2 {
        font-size: 2rem;
    }

    .main-nosotros p {
        margin-bottom: 0;
    }

    .nosotros-messages {
        padding: 1.2em;
        margin-bottom: 2.5em;
    }
}
/* --------------------------- END - Responsive nosotros.html --------------------------- */

/* --------------------------- END - Nosotros --------------------------- */

/* --------------------------- START - Contactanos --------------------------- */
.contacto-top img {
    width: 100%;
    height: auto;
}

#my-form {
    box-sizing: content-box;
}

.contacto-form {
    padding: 2em;
    margin: 2em .5em 0;
    box-shadow: 0 0 8px #3b5999;
}

.contacto-form-icon {
    font-size: 5rem;
}

.contacto-form-header img {
    width: 20%;
    height: auto;
    position: relative;
    right: 5%;
    bottom: 5%;
    z-index: 0;
}

.row.contactanos-form {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.contactanos-form label, .contactanos-form input{
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.contacto-form .btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5em;
    transform: scale(1.2);
    width: 30%;
}

#my-form label {
    display: block;
}

.contacto-map {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.map-info div{
    font-size: 1.3rem;
    margin-bottom: .3em;
    font-weight: 400;
}

.map-info div i {
    font-size: 1.5rem;
}

/* --------------------------- END - responsive contactanos.hmtl --------------------------- */
@media (max-width: 676px) {
    .contacto-container {
        margin-top: 1em!important;
        margin-bottom: 1em!important;
    }
    .contacto-form {
        margin: 0 0 2em;
    }

    .contacto-form h2 {
        font-size: 1.5rem;
    }

    .contacto-form-icon {
        font-size: 3.5rem;
        align-items: center;
        position: relative;
        top: .2em;
        right: .2em;
    }

    .map-info div{
        font-size: 1.1rem;
        margin-bottom: .1em;
    }
    
    .map-info div i {
        font-size: 1.3rem;
    }
}
/* --------------------------- END - responsive contactanos.hmtl --------------------------- */

/* --------------------------- END - Contactanos --------------------------- */


/* START - Estilos de RICHARD */
/* ------------------------  stylesheet slider  ------------------------*/
/* Carousel base class */
.carousel-richard {
    margin-bottom: 4rem;
  }
  /* Carousel dimentions */
  
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 8rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item-richard {
    height: 36rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 36rem;
  
  }
  /*--Scroll BAR--------------------------------------------------------------*/
  body::-webkit-scrollbar{
      width: 7px;
  }
  body::-webkit-scrollbar-thumb{
      border-radius:3.5px;
      background: var(--gray);
  }
  /*--nav BAR--------------------------------------------------------------*/
  .logoLoc{
    position: absolute;z-index: 3000;left: 159px;top:-26px;
  }
  .logoMain{
    position: absolute;z-index: 3000;left: 159px;
  }
