<html lang="es"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso: Lorem, ipsum.</title>
    
    <!-- IMPORTANDO MI CSS -->
    <link rel="stylesheet" href="../../../css/styles.css">
    <!-- BOOTSTRAP CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- IMPORTANDO FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
</head>
<body>
  

    <h1 class="text-center">Ventana de eventos</h1>
    <div class="container">
        <!-- Fila N° 1-->
        <div class="row pb-3">
                <!-- Imágen superior izquierdo -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <img src="https://edteam-media.s3.amazonaws.com/blogs/original/05ebfada-ca24-4d09-94e2-8a77aa63ee13.jpg" class="d-block w-100 rounded-lg  " alt="...">
                </div>
                <!--Título e información superior derecho-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <h2 class="text-center text-primary">Estructuración, Análisis y Diseño de Edificaciones de Albañileria</h2>

                    <div ><i class="fas fa-calendar-alt mx-2 mt-4"></i> Fecha de Inicio: 25 de Dic.</div>
                    <div ><i class="fas fa-clock mx-2 "></i> Duración: +5 horas</div>
                    <div ><i class="fas fa-satellite-dish mx-2 mb-2"></i> Plataforma: Meet</div>
                    <div class="text-center">
                        <button type="button" class="btn btn-info mx-2 mt-4"><i class="fas fa-pencil-alt"></i> Inscribirse</button>
                        <a href="../consultas.html">
                            <button type="button" class="btn btn-danger mx-2 mt-4"><i class="fas fa-certificate text-warning"></i> Certificación</button>
                        </a>
                    </div>
                </div>  
        </div>

        <!-- Fila N° 2-->
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Descripción</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Plan Estudios e Instructor</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <!-- Descripción-->
                    <div class="tab-pane fade show active pb-4" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p class="pt-2"><strong> DESCRIPCIÓN:</strong>
                            <br>
                            El curso es teórico en cuanto al aprendizaje de conceptos y métodos de diseño. Y se acompaña con un amplio contenido práctico y aplicativo de casos reales.
                            <br>
                            Para la parte teórica se contará con asistencia de diapositivas completas sobre los temas y complementado con publicaciones científicas, libros, normas y manuales relacionados. Los temas e ítems abordados, serán atacados por ejemplos prácticos resueltos en clase. También se presentarán las ventajas y beneficios de emplear adecuadamente el MathCad, Excel SAP2000, ETABS y Safe en el diseño estructural.<br>
                            Los alumnos al finalizar cada módulo generarán hojas de cálculo básicos para el sustento técnico de posibles diseños con el Excel. Para cada ejercicio el profesor hará seguimiento y guía para cumplir los objetivos del curso.
                        </p>
                        <p><strong> OBJETIVOS:</strong><br>
                            -Conocer y aplicar principales criterios para la estructuración de una edificación de albañilería.
                            <br>
                            -Conocer y aplicar conceptos principales para el análisis de una edificación de albañilería y sus elementos.
                            <br>
                            -Conocer y aplicar conceptos principales para el diseño de elementos estructurales de albañilería.
                            <br>
                            -Conocer y aplicar herramientas tecnológicas para el análisis y diseño de edificaciones de albañilería y sus elementos.
                            <br>
                            -Conocer y aplicar el Reglamento Nacional de Edificaciones (E.020, E.030, E.060, y E.070), así como el apoyo de estándares internacionales (ACI 318-19, ASCE 7-16 y ASCE 41-17) para el análisis, diseño y comportamiento de edificaciones en albañilería y sus componentes.
                        </p>
                        <p><strong>BENEFICIOS:</strong><br>
                            -Constancia de Matricula.<br>
                            -Acceso a nuestra Campus Virtual<br>
                            -Clases y chat en vivo.<br>
                            -Foro de consulta.<br>
                            -Consultas vía foro y correo.<br>
                            -Certificado por 150 horas <br>
                            -Envió de Certificado digital.</p>
                    </div>
                    <!-- Plan de estuios e instructor-->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p class="pt-2"><strong>PLAN DE ESTUDIOS: Actualizado septiembre 2020</strong><br>
                            <b>Modulo I: FUNDAMENTOS TEÓRICOS, PROCEDIMIENTO CONSTRUCTIVO Y ESTRUCTURACIÓN.</b><br>
                            -INTRODUCCIÓN Y GENERALIDADES DE LA ALBAÑILERÍA<br>
                            -UNIDAD DE LA ALBAÑILERÍA Y RESISTENCIA DE PRISMAS Y MURETES<br>
                            -PROCEDIMIENTO CONSTRUCTIVO DE LA ALBAÑILERÍA<br>
                            -CRITERIOS APLICATIVOS Y PROCEDIMIENTO DE ESTRUCTURACIÓN<br>
                            <b>• Trabajo Escalonado I</b></p>
                            <p><b>Módulo II: FUNDAMENTOS DEL MODELO ESTRUCTURAL, ANÁLISIS Y DISEÑO DE LA ALBAÑILERÍA</b><br>
                                -FUNDAMENTOS Y MODALAMIENTO ESTRUCTURAL<br>
                                -FUNDAMENTOS Y ANÁLISIS ESTRUCTURAL<br>
                                -DISEÑO DE MUROS DE ALBAÑILERÍA Y ELEMENTOS DE CONFINAMIENTO<br>
                                -COMPORTAMIENTO NO LINEAL DE MUROS DE ALBAÑILERÍA<br>
                                <b>• Trabajo Escalonado II</b>
                                
                            </p>


                            <p class="pt-2"><strong>MSC. ING. EDISSON MOSCOSO ALCANTARA</strong><br>
                            

                                -Ingeniero Civil de la Universidad Nacional de Ingeniería (UNI)
                                <br>
                                -Maestría en ciencias con mención en Ingeniería Estructural en la Universidad Nacional de Ingeniería (UNI)
                                <br>
                                -Docente del departamento de estructuras de la Universidad Nacional de Ingeniería (UNI), con experiencia en análisis y diseño de diversas estructuras de Ingeniería tanto en concreto armado, estructuras metálicas, albañilería, madera, bambú y encofrados metálicos.
                                <br>
                                -Ex docente de estructuras de la UNMSM, UPC, UCV y UPLA.
                                <br>
                                -Ingeniero Estructural e Investigador del Centro Peruano Japonés de Investigaciones Sísmicas y Mitigación de Desastres (CISMID).
                                <br>
                                -Manejo de herramientas computacionales en análisis lineal y no lineal como diseño estructural.
                                <br>
                                -Ponente en Congresos, seminarios y charlas técnicas a nivel Nacional.
                                <br>
                                -Miembro del Capítulo Peruano del American Concrete Institute.
                                <br>
                                -Asesor del Grupo de Estructuras de la UNI, GADEST Y el de la UNMSM.
                                <br>
                                -Docente principal en CCIP PERÚ
                            </p>
                            

                    </div>
                  </div>
            </div>
        </div>
    </div>
    



    
   





    <!--  BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
