<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYEING</title>

    <!-- NORMALIZE CSS -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">

    <!-- IMPORTANDO MI CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- IMPORTANDO FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

    <!-- importando CSS de BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- ROY | Estilo CSS -->
    <link rel="stylesheet" href="../../css/styles-roy.css">

</head>
<body>
    <!-- START - Menu static -->
    <header style="">
        <nav class="navbar navbar-expand-lg navbar-light" style="top: 62px;z-index: 3000;margin-bottom: 30px;-webkit-box-shadow: 0px 1px 1px #0c0c0c;-moz-box-shadow: 0px 1px 1px #de1dde;box-shadow: 0px 1px 1px #5f5f5f6b;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav" style="font-weight:bold;">
              <li class="nav-item ">
                <a class="nav-link" href="../../index.html"><i class="fas fa-search"></i> Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="views/secciones/nosotros.html" style="padding-right: 1.5rem;padding-left: 1.5rem;">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="views/secciones/eventos.html" style="padding-right: 1.5rem;padding-left: 1.5rem;">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="views/secciones/contactanos.html" style="padding-right: 1.5rem;padding-left: 1.5rem;">Contactanos</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="views/secciones/consultas.html" style="padding-right: 1rem;">Consultas</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class=" text-center logoLoc">
          <img class="d-block mx-auto mb-4" src="../../img/Logo.png" alt="" width="auto" height="150px">
        </div>
    </header>
    <!-- END - Menu static -->
    <!-- Start Contenido  -->
    <main role="main">
      <br><br><br>
      <div class="container">
          <h2 style="font-size:2.5rem"><i class="far fa-address-card text-info"></i>  Certificaci&oacute;n</h2>
          <hr>
           <div class="row featurette">
              <div class="col-md-8 order-md-2">
                <h2 class=""style="margin-top:5px;font-size:35px;"><i class="fa fa-award" style="color:#FFC107;"></i> CERTIFICACIÓN <span class="text-muted">(Revisar el curso o Especialización) </span></h2>
                <p class="lead">
                 Para obtener el certificado debe entregar los trabajos o exámenes, caso contrario no podrá obtener el certificado modular, curso o especialización.
                </p>
                <p style="font-size:1.1rem;">
                 <span class="badge badge-info">Certificado a nombre de Instituto CCIP (Especialización o Curso)</span>
                </p>
                <p>
                 Tomando como base la mayor calificación es 20 puntos, se tiene:
                 <ul>
                 <li><strong>Certificado de Aprobación:</strong> Los participantes que obtengan igual o mayor a 15 puntos.</li>
                 <li><strong>Certificado de Asistente:</strong> Los participantes que obtengan una calificación entre 11 a 14 puntos</li>
                 <li><strong>Sin Certificado:</strong> Los participantes que obtengan menor o igual a 10 puntos.</li>
                 </ul>
                </p>
              </div>
              <div class="col-md-4 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
              </div>
            </div>
            <br>
            <div class="row featurette">
               <div class="col-md-8 order-md-2">
                 <h5 class="featurette-heading" style="margin-top:5px;"><i class="far fa-address-book" style="color:#607D8B;"></i> CERTIFICADO <span class="text-muted">(datos del solicitante) </span></h5>
                 <p class="lead">
                    Al finalizar del curso o especialización, se emitirán los certificados para los alumnos aprobados satisfactoriamente.
                    El certificado es emitido por la Institución que indica cada curso o Especialización.
                    <br><br>
                    El Certificado contiene:<br>
                 </p>
                 <div style="margin-left:35px;">
                    <i class="far fa-check-circle"></i> DATOS PERSONALES DEL ALUMNO (NOMBRE Y APELLIDOS COMPLETOS).<br>
                    <i class="far fa-check-circle"></i> TEMARIO.<br>
                    <i class="far fa-check-circle"></i> HORAS ACADÉMICAS<br>
                    <i class="far fa-check-circle"></i> NOTA FINAL.<br>
                    <i class="far fa-check-circle"></i> FIRMA DE REPRESENTANTES DE LA INSTITUCIONES.<br>
                    <i class="far fa-check-circle"></i> CÓDIGO DE CERTIFICADO.<br>
                    <i class="far fa-check-circle"></i> Sello de agua (Alto relieve).
                 </div>
               </div>
               <div class="col-md-4 order-md-1">
                 <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
               </div>
            </div>
          <h2 style="font-size:2.5rem"><i class="fas fa-shopping-cart text-info"></i> Formas de Pago</h2>
          <hr>
            <div class="container">
               <p class="lead">
                 La empresa CCIP PERU te brinda todas las comodidades y facilidades para que nuestros clientes
                 puedan llevar sus cursos de forma sencilla, realizando sus pagos de una manera más fácil y rápida.
               </p>
               <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body" style="background: linear-gradient(black, white);background-image: url('../../img/bcpm1.jpg');background-repeat: no-repeat;background-position: bottom left;">
                      <h5 class="card-title">PAGO VIA BCP – BANCO DE CREDITO DEL PERÚ</h5>
                      <p class="card-text">
                        <ol>
                          <li>REALIZAR EL DEPOSITO VÍA AGENTES O BANCO BCP
                          <span class="badge badge-info">N° DE CUENTA CORRIENTE: 380-2406043-0-47</span><br>
                          <span class="badge badge-success">TRANSFERENCIA CCI: 002-38000240604304747</span><br> TITULAR DE LA CUENTA: CCIP PERU.</li>
                          <li>LLENAR FORMULARIO DE PRE-INSCRIPCIÓN</li>
                          <li>ENVIAR EL VOUCHER AL CORREO INFO.CCIPERU@GMAIL.COM O INFO@CCIPPERU.COM</li>
                          <li>RECIBIRÁ UN CORREO DE CONFIRMACIÓN DE SU MATRICULA</li>
                        </ol>
                      </p>
                      <p class="card-text"><small class="text-muted">Revise su Vaucher</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body" style="background: linear-gradient(black, white);background-image: url('../../img/interbankm1.jpg');background-repeat: no-repeat;background-position: bottom left;">
                      <h5 class="card-title">PAGO VIA – AGENTES INTERBANK</h5>
                      <p class="card-text">
                        <ul>
                          <li>REALIZAR EL DEPOSITO VIA AGENTES INTERBANK
                            <span class="badge badge-info">N° DE CUENTA DE AHORROS: 411-3078929059</span>
                            <span class="badge badge-light">TRANSFERENCIA CCI: 003-411-013078929059-65 </span>
                            <br>TITULAR DE LA CUENTA: MARK PALOMINO (Director Académico)</li>
                          <li>LLENAR FORMULARIO DE PRE-INSCRIPCIÓN</li>
                          <li>ENVIAR EL VOUCHER  AL CORREO info.cciperu@gmail.com o info@ccipperu.com</li>
                          <li>RECIBIRÁ UN CORREO DE CONFIRMACIÓN DE SU MATRICULA</li>
                        </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">Revise su Vaucher</small></p>
                    </div>
                  </div>
                </div>
              </div>
             </div><br>
      </div>
    </main>
    <!-- End Contenido  -->
        <!-- ROY - inicia aca -->
        <footer class="container-fluid py-3">
            <!-- Contenido principal del footer -->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="pt-5">
                        <img class="footer-img" src="../../img/LOGO PROYEING.png" alt="logo de PROYEING">
                    </div>
                </div>

                <!-- Formulario de dejar un mensaje -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <h3 class="text-center">Dejanos un mensaje:</h3>

                    <form action="js/enviar.php">
                        <input type="text" class="form-control my-2" placeholder="Nombres y apellidos" id="name" aria-label="search" required>
                        <input type="email" class="form-control my-2" placeholder="Correo electrónico" id="email" aria-label="search" required>
                        <input type="tel" class="form-control my-2" placeholder="Teléfono / celular" id="phone" aria-label="search" required>
                        <textarea class="form-control my-2" name="message" type="text" placeholder="Escribe tu Comentario" aria-label="Search" cols="50" rows="6" required></textarea>

                        <button type="submit" class="btn btn-light font-weight-bold">ENVIAR</button>
                      </form>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <h3 class="text-center">Redes sociales</h3>
                    <div>
                        <a class="facebook-icon" target="_blank" href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                    </div>
                    <div>
                        <a class="youtube-icon" target="_blank" href="#"><i class="fab fa-youtube"></i> You Tube</a>
                    </div>
                    <div>
                        <a class="instagram-icon" target="_blank" href="#"><i class="fab fa-instagram"></i> Instagram</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <h3 class="text-center">Información de contacto</h3>

                    <div>
                        <a target="_blank" href="#"><i class="fas fa-phone"></i> 999 999 999</a>
                    </div>
                    <div>
                        <a target="_blank" href="#"><i class="fas fa-envelope"></i> proyeing@proyeing.com</a>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="copyright">
                <p class="text-center">Todos los Derechos Reservados <i class="fas fa-copyright"></i> PROYEING</p>
                <p class="cherry text-center">Designed by:
                    <a href="#">Richard</a>, <a href="#">Roy</a> & <a href="#">Wilder</a></p>
            </div>
        </footer>
        <!-- ROY - termina aca -->

        <!-- importando JS de BOOTSTRAP -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
    </html>
