<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYEING | Contactanos</title>
    
    <!-- NORMALIZE CSS -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    
    <!-- IMPORTANDO MI CSS | Wilder -->
    <link rel="stylesheet" href="/css/styles.css">
    
    <!-- IMPORTANDO FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    
    <!-- importando CSS de BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- ROY | Estilo CSS -->
    <link rel="stylesheet" href="/css/styles-roy.css">

</head>
<body>
        
    <!-- Contenido central -->
    <main>
        <section class="contacto-top">
            <img src="https://i.imgur.com/p5kC2lW.jpg" alt="Contactanos">
        </section>

        <section class="my-5 container">
            <div class="row">
                <!-- Formulario de contacto -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="contacto-form mt-0 py-3 px-4">
                        <div class="row contacto-form-header">
                            <div class="col-9 col-sm9 col-md-9 col-lg-9">
                                <h2>Si tienes alguna duda o consulta, escribenos!</h2>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                                <span class="contacto-form-icon"><i class="far fa-id-card"></i></span>
                            </div>

                            
                        </div>
                        <hr>
                        <div class="row contactanos-form">
                            <div class="row">
                                <form action="https://formspree.io/f/mvovgnyb" method="POST" id="my-form" _lpchecked="1">
                                    <label for="fullName" class="mb-0 mx-auto">Nombres y apellidos</label>
                                    <input type="text" class="form-control mb-2 mx-auto" id="fullName" name="full-name" placeholder="¿Como te llamas?" required>
                                    
                                    <label for="email"  class="mb-0">Correo electrónico</label>
                                    <input type="email" class="form-control mb-2" placeholder="Correo electrónico" id="email" aria-label="search" name="email" required>

                                    <label for="phone"  class="mb-0">Telefono / celular</label>
                                    <input type="tel" class="form-control mb-2" placeholder="Número de contacto" id="phone" aria-label="search" name="phone" required>

                                    <label for="message"  class="mb-0">Dejanos un mensaje</label>
                                    <textarea class="form-control my-2" name="message" type="text" id="message" placeholder="Escribe tu Comentario" aria-label="Search" cols="50" rows="6" required></textarea>
                        
                                    <button type="submit" class="btn btn-danger font-weight-bold">ENVIAR</button>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="status"></div>
                </div>
                <!-- col-12 col-sm-12 col-md-6 col-lg-6 -->
                <!-- Mapá y ubicación -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="contacto-map mb-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.4148699330754!2d-71.5266443441265!3d-16.40374307304486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424aff8bf9a045%3A0x72e4de815cc58a10!2sOficina%20352%2C%20Av.%20Independencia%20712%2C%20Arequipa%2004001!5e0!3m2!1ses!2spe!4v1602210414770!5m2!1ses!2spe" width="100%" height="550px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div>
                        <ol>
                            <li><i class="fas fa-map-marker-alt"> Av. Independencia 712 - Oficina 352, Arequipa - Perú.</i></li>
                            <li><i class="fas fa-mobile-alt"> +51 - 992847366</i></li>
                            <li><i class="fas fa-envelope"> proyeing.ingenieria@gmail.com</i></li>
                        </ol>
                    </div>
                </div><!-- col-12 col-sm-12 col-md-6 col-lg-6 -->
            </div>
        </section>


    </main>

    <!-- ROY - inicia aca -->
    <footer class="container-fluid py-3">
        <!-- Contenido principal del footer -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="pt-5">
                    <img class="footer-img" src="https://i.imgur.com/QeUj6Ko.png">
                </div>
            </div>

            <!-- Formulario de dejar un mensaje -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center">Dejanos un mensaje:</h3>

                <form action="https://formspree.io/f/mvovgnyb" method="POST">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control mb-2" placeholder="Nombres y apellidos" id="name" aria-label="search" name="nombres" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control mb-2" placeholder="Correo electrónico" id="email" aria-label="search" name="email" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-phone"></i></span>
                        </div>
                        <input type="tel" class="form-control mb-2" placeholder="Teléfono / celular" id="phone" aria-label="search" name="phone" required>
                    </div>

                    <textarea class="form-control my-2" name="message" type="text" placeholder="Escribe tu Comentario" aria-label="Search" cols="50" rows="6" required></textarea>
                    <!-- Asunto del mail -->
                    <input type="hidden" name="_subject" value="Mensaje desde www.proyeing.com">
                    <!-- Redigira a otra pagina -->
                    <input type="hidden" name="_next" value="/"
                    >
                    <button type="submit" class="btn btn-light font-weight-bold">ENVIAR</button>
                  </form>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center">Redes sociales</h3>
                <div>
                    <a class="facebook-icon" target="_blank" href="https://www.facebook.com/proyeing"><i class="fab fa-facebook-square"></i> Facebook</a>
                </div>
                <div>
                    <a class="youtube-icon" target="_blank" href="https://www.youtube.com/channel/UC-8JO80anOMWhen8BexYaeA/?guided_help_flow=5"><i class="fab fa-youtube"></i> You Tube</a>
                </div>
                <div>
                    <a class="instagram-icon" target="_blank" href="https://www.instagram.com/proyeing/"><i class="fab fa-instagram"></i> Instagram</a>
                </div>
            </div><!-- col-12 col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center">Información de contacto</h3>

                <div>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=51992847366&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n,%20por%20favor."><i class="fas fa-phone"></i> 992 847 366</a>
                </div>
                <div>
                    <a target="_blank" href="mailto:proyeing.ingenieria@gmail.com"><i class="fas fa-envelope"></i> proyeing.ingenieria@gmail.com</a>
                </div>
            </div><!-- col-12 col-sm-12 col-md-6 col-lg-3 -->
        </div>
        <!-- Copyright -->
        <div class="copyright">
            <p class="text-center">Todos los Derechos Reservados <i class="fas fa-copyright"></i> PROYEING</p>
            <p class="cherry text-center">Designed by: 
                <a href="#">Richard</a>, <a href="#">Roy</a> & <a href="#">Wilder</a></p>
        </div>
    </footer>

    <!-- Boton flotante de WHATSAPP-->  
    <div>
      <a href="https://api.whatsapp.com/send?phone=51992847366&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n,%20por%20favor." class="float" target="_blank">
        <i class="fab fa-whatsapp my-float"></i>
      </a>
    </div>

    
    <!-- ROY - termina aca -->

    <!-- importando JS de BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
