<html lang="es"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTOS</title>
    
    <!-- IMPORTANDO MI CSS -->
    <link rel="stylesheet" href="../../css/styles.css">
    <!-- BOOTSTRAP CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- IMPORTANDO FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYEING | Contactanos</title>
    
    <!-- NORMALIZE CSS -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    
    <!-- ROY | Estilo CSS -->
    <link rel="stylesheet" href="../../css/styles-roy.css">

</head>
<body>
    <!-- INICIO - CARDS CURSOS-->
    <h2 class="text-center">Todos Nuestros Cursos</h2>
    <div class="container-xl">

        <!-- Fila N° 01 -->
        <div class="row">
            <!-- Curso N° 01 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="width: 100%;">
                    <img src="https://edteam-media.s3.amazonaws.com/blogs/original/05ebfada-ca24-4d09-94e2-8a77aa63ee13.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center"> <a href="../secciones/eventos/evento_01.html"> Análisis Estructural </a> </h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="alert alert-danger text-center" role="alert">
                        <i class="far fa-calendar-alt "></i> Inicio: 07/10/2020
                      </div>
                      
                    </div>
                  </div>
            </div>
            <!-- Curso N° 02 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="width: 100%;">
                    <img src="https://edteam-media.s3.amazonaws.com/courses/big/73bf63e2-b91c-4690-b206-bef15e1f2ae2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center"> <a href="../secciones/eventos/evento_01.html"> Análisis Estructural </a> </h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="text-center">
                        <a href="../secciones/eventos/evento_01.html" class="btn btn-info ">Más Información <i class="fas fa-angle-double-right"></i></a>
                      </div>                     
                    </div>
                  </div>
            </div>
            <!-- Curso N° 03 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="width: 100%;">
                    <img src="https://edteam-media.s3.amazonaws.com/blogs/original/9f43cde0-93c7-4d6d-b3d8-636c0e216911.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Curso 3</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="text-center">
                        <a href="#" class="btn btn-primary">Leer Más  <i class="fas fa-angle-double-right"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <!-- Curso N° 04-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="width: 100%;">
                    <img src="https://edteam-media.s3.amazonaws.com/courses/small/8cb7bce7-eb7c-4925-af03-8e22f9c0e9a9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Curso 4</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <!-- FIN - CARDS CURSOS-->



    
   





    <!--  BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
